body{
    
    background-color: rgb(145, 145, 145);
}

#home{
    text-align: center;
}

#pesquisa{
    font-family: 'Courier New', Courier, monospace ;
    display: inline-block;
    color: rgb(201, 201, 201);
    background-color: rgb(51, 51, 51);
    border-radius: 25px 0px 0px 25px;
    width: 500px;
    height: 50px;
}

#link{
    display: inline-block;
    background-color: rgb(51, 51, 51);
    border-radius: 0px 25px 25px 0px;
    width: 80px;
    height: 50px;
}

#imginpi{
    display: block;
    margin: auto;
    max-width: 200px;
}